*{
    margin: 0;
    padding: 0;
}

.search-section {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 10px 15px;
    border-radius: 10px;
}
.btn-secondary {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    border-radius: 3px !important;
}

.search_box {
    border: 1px solid #aaa !important;
    border-radius: 3px;
    padding: 5px;
    background-color: #e5e5e5 !important;
    margin-left: 5px !important;
    margin-top: -4px;
}
.search_input{
    display: flex;
    justify-content: start;
    margin-top: 30px;
}
.expired_bg {
    color: black !important;
    background-color: #d98f8f !important;
    border-color: #d98f8f !important;
    text-align: center;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 400 !important;
    padding: 3px;
}

.active_bg {
    color: black !important;
    background-color: #81d260 !important;
    border-color: #81d260 !important;
    text-align: center;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500 !important;
    padding: 3px;
}
.name_bg{
    text-decoration: none;
    color: black;
}
.name_bg:hover{
    text-decoration:underline;
    color: #315874;
}
.table th{
    background-color: #fff !important;
    color: black !important;
}

.btn-width {
    /* width: 15%; */
    padding: 6px 17px;
    letter-spacing: 0.4px;
    position: relative;
    /* bottom: 77px; */
}

.btn-width1 {
    /* width: 15%; */
    padding: 6px 17px;
    letter-spacing: 0.4px;

}
.reset-clr {
    background: #c3b8a5;
    border-color: #c3b8a5;
}

.modal-contnt-renew{
    height: none !important;
}
.tdlabel{
    display: none;
}



@media(max-width:576px){
    .search_input{
        display: block;
        justify-content: initial;
    }
    /* .client_fontsize{
        font-size: 12px;
       
    } */
    .form-label {
        margin:8px 0px;
    }
    label {
        margin:6px 0px;
    }
    .form-select {
        font-size: 14px !important;
    }
}  

@media (min-width:768px) and (max-width:896px){
    .search_input{
        display: flex;
        justify-content: start;
    }
    .client_fontsize{
        font-size: 12px;
    }
    
}

/* @media (max-width:768px){
    table{
        display: none !important;
    }
    
} */

@media (max-width: 767px) {
    .TableResponsive {
        border: 0;
    }
    .TableResponsive thead {
        display: none;
    }

.TableResponsive > tbody > tr:not(.clsSubtr) > td:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #eee !important;
    border-radius: 10px 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.TableResponsive > tbody > tr > td {
    display: flex;
    padding: 1px 0 !important;
    border: 0 !important;
    text-align: left !important;
    background: #fff !important;
}

.TableResponsive > tbody > tr:nth-child(1) {
    margin-top: 0 !important;
}
.TableResponsive > tbody > tr {
    position: relative;
    line-height: normal;
    padding: 50px 15px 15px;
    border-radius: 10px;
    background: #fff !important;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 20%) !important; */
    display: block;
}
.TableResponsive > tbody > tr > td:nth-child(2) {
    color: #856329;
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin-bottom: 4px;
    text-align: left;
    padding: 0;
}
/* .TableResponsive > tbody > tr > td {
    border: 0 !important;
    text-align: left !important;
    background: #fff !important;
} */
.TableResponsive > tbody > tr > td .tdlabel {
    display: inline-block !important;
    margin: 0;
    color: #000;
}
.TableResponsive > tbody > tr > td .tdlabel:after {
    content: ":";
    margin: 0 5px;
}
.TableResponsive > tbody > tr > td:nth-last-child(1) p {
    padding: 4px 15px;
    border-radius: 30px;
    font-weight: 500;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
}


.TableResponsive .nextedtd {
    overflow: hidden;
    padding: 0 !important;
    border-radius: 0 0 15px 15px;
    background-color: #f5f5f5 !important;
}

.TableResponsive .nextedtd table {
    border: 0 !important;
    margin: 0;
    width: 100%;
}
.TableResponsive thead {
    display: none;
}
.TableResponsive .nextedtd table tbody {
    padding: 0;
    /* display: block; */
    background-color: #fff;
}
.TableResponsive .nextedtd table tbody tr {
    display: block;
    margin: 10px 0 10px 10px;
    padding: 10px 10px 10px 80px;
    border-radius: 100px 0 0 100px;
    border: 1px solid #f3cf86;
    border-right: 0 !important;
    background-color: #fff !important;
    position: relative;
}
.TableResponsive .nextedtd table tbody tr td:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 20px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background: #f3cf86 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    border-radius: 100%;
}
.TableResponsive .nextedtd table tbody tr td {
    display: block;
    padding: 2px 0;
    border: 0 !important;
    text-align: left !important;
    background: #fff !important;
}

.TableResponsive > tbody > tr > td:nth-child(4) {
    border-bottom: 1px solid #ddd !important;
    padding-bottom: 6px;
    margin-bottom: 6px;
   
}
.TableResponsive > tbody > tr > td:nth-child(10) {
    border-bottom: 1px solid #ddd !important;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.TableResponsive .clsSubtr:after {
    content: "+";
    font-family: 'FontAwesome';
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: -15px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.expired_bg {
    padding: 4px 15px;
    margin-top: 14px;
}
.active_bg {
    padding: 4px 15px;
    margin-top: 14px;;
}
.dots-icon{
    position: relative;
    top: -235px;
    right: -265px;
}
.renew-btn {
    padding: 3px 8px;
    
}
.TableResponsive > table > tbody > tr > td:nth-child(2) {
    display: inline-block;
    margin-right: 10px;
}
.TableResponsive > table > tbody > tr > td:nth-child(3) {
    display: inline-block;
    margin-right: 10px;
}

}